@page "/"
@page "/index"

@using BlazorProducts.Components

<Home Title="Bem vindo ao aplicativo BlazorProducts."
      @attributes="AdditionalAttributes">
    Feel free to
    <a href="https://www.redbubble.com/people/vpecanac/works/44764889-code-maze-merch?asc=u" target="_blank">visit our shop</a>
    any time you want.
</Home>

@code {
    public Dictionary<string, object> AdditionalAttributes { get; set; } =
        new Dictionary<string, object>
        {
            { "src", "/assets/blazor-logo.png" },
            { "alt", "products image for the Home component" },
            { "width", 100 },
            { "height", 100 }
            };
}